.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
*.sql
*.sqlite
*.db
*.env
*.pem
*.key
*.pyc
*.jar
*.swf
*.xap
*.fla
*.mp3
*.mp4
*.ogv
*.webm
uploads/audio/*
!uploads/audio/.gitkeep
vendor/
node_modules/

